.about-us {
  .container();
  padding-top: 30px;
  height: 900px;
}
.about-us__title {
    font-size: 25px;
    line-height: 1.2em;
    font-weight: bold;
  }
.about-us__item {
    height: 50px;
    padding-top: 55px;
    font-weight: bold;
    font-size: 17px;
  }
.about-us__item {
  background-repeat: no-repeat;
  background-position: 0 0;
  &--materials {
    background-image: url(../img/icon-feature-1.svg);

  }
  &--russian-price {
    background-image: url(../img/icon-feature-2.svg);
    background-position: 0 0;
  }
  &--likes {
    background-image: url(../img/icon-feature-3.svg);
    background-position: 0 0;
  }
  &--hand-made {
    background-image: url(../img/icon-feature-4.svg);
    background-position: 0 0;
  }
  &--our-manufacturer {
    background-image: url(../img/icon-feature-5.svg);
    background-position: 0 0;
  }
  &--gift-package {
    background-image: url(../img/icon-feature-6.svg);
    background-position: 0 0;
  }
}
@media @tablet-width {
  .about-us {
    .clearfix();
    height: 640px;
    width: 668px;
  }
  .about-us__title {
  text-align: left;
  font-size: 43px;
  line-height: 50px;
  font-size: 43px;
  }
  .about-us__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about-us__item {
    width: 300px;
    height: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media @desktop-width {
  .about-us {
    padding-left: 175px;
    padding-right: 175px;
    width: 730px;
  }
  .about-us__title {
  font-size: 53px;
  line-height: 57px;
  }
  .about-us__item {
    float: left;
    margin-right: 16px;
  }
}
