.about-us {
  .container();
  padding-top: 30px;
  height: 900px;
}
.about-us__title {
    font-size: 25px;
    line-height: 1.2em;
    font-weight: bold;
  }
.about-us__item {
    height: 50px;
    padding-top: 55px;
    font-weight: bold;
    font-size: 17px;
  }
.about-us__item {
  &--materials {
   background-image: url("")
  }
  &--russian-price {
   background-image: url("")
  }
  &--likes {
   background-image: url("")
  }
  &--hand-made {
   background-image: url("")
  }
  &--our-manufacturer {
   background-image: url("")
  }
  &--gift-package {
   background-image: url("")
  }
}
@media @tablet-width {
  .about-us {
    .clearfix();
    height: 640px;
    width: 668px;
  }
  .about-us__title {
  text-align: left;
}
  .about-us__item {
    float: left;
    width: 334px;
    height: 50px;
    margin-bottom: 50px;
  }
}
@media @desktop-width {
  .about-us {
    padding-left: 175px;
    padding-right: 175px;
    width: 730px;
  }
  .about-us__item {
    float: left;
    margin-right: 16px;
  }
}
