.btn {
  display: block;
  padding-top: 15px;
  width: 245px;
  height: 33px;
  text-align: center;
  font-size: 17px;
  line-height: 1em;
  font-weight: bold;
  text-decoration: none;
  color: #444444;
  text-transform: uppercase;
  border: 2px #444444 solid;
}
