.catalog-items {
	&__item {
	}
	&--item-title {
		font-size: 17px;
		line-height: 24px;
		font-weight: bold;
	}
	&__description {
		font-size: 13px;
		line-height: 30px;
		font-size: #444444;
	}
	&__price {
		font-size: 15px;
		line-height: 24px;
		font-weight: bold;
	}
}