.catalog-items {
  .container();
}
.catalog-items__item {
  margin-bottom: 30px;
  border: 1px #ededed solid;
  &--item-title {
    font-size: 17px;
    line-height: 1.4em;
    font-weight: bold;
    margin-bottom: 15px;
  }
}
.catalog-items__img-wrapper {
  margin-bottom: 25px;
}

.catalog-items--item-title {
  text-align: center;
}
.catalog-items__description {
  font-size: 13px;
  line-height: 2.3em;
  font-size: #444444;
  padding-left: 25px;
  width: 260px;
  margin-bottom: 25px;
}
.catalog-items__price {
  position: relative;
  font-size: 15px;
  line-height: 1.6em;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  width: 155px;
  height: 48px;
  border-top: 1px #ededed solid;
  padding-top: 24px;
  padding-right: 50px;
}
.catalog-items__price svg {
  position: absolute;
  top: 33%;
  left: 90%;
}
.catalog-items__price {
  &:hover path {
    fill: #63d1bb;
  }
  &:active path {
    fill: rgba(99, 209, 187, 0.3);
  }
}
.catalog-items--item-title {
  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }
  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}
@media @tablet-width {
  .catalog-items {
    display: flex;
    flex-direction: column;
    width: 668px;
    margin-bottom: 50px;
  }
  .catalog-items__item {
    display: flex;
    &--item-title {
      font-size: 20px;
      line-height: 24px;
    }
  }
  .catalog-items__img-wrapper {
    margin: 0;
    height: 334px;
    width: 334px;
  }
  .catalog-items__text-wrapper {
    display: flex;
    flex-direction: column;
    width: 334px;
  }
  .catalog-items__price {
    position: relative;
    font-size: 17px;
    line-height: 24px;
    margin-top: auto;

  }
  .catalog-items__description {
    font-size: 15px;
    line-height: 30px;
  }
}

@media @desktop-width {
  .catalog-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1050px;
    margin-bottom: 55px;
  }
  .catalog-items__item {
    width: 315px;
    border: 1px #ededed solid;
    flex-direction: column;
    justify-content: space-between;
  }
  .catalog-items__img-wrapper {
      margin: 0;
      height: 463px;
      width: 316px;
  }
  .catalog-items__text-wrapper {
    width: 315px;
    min-height: 221px;
  }
  .catalog-items__price {
    width: 210px;
    margin-top: auto;
  }
  .catalog-items__text-wrapper:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }
  .catalog-items__text-wrapper:active {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  }
}

