.contacts {
  .container();
  width: 260px;
  height: 900px;
  padding-top: 40px;
}
.contacts__title {
  font-size: 18px;
  line-height: 1.67em;
  font-weight: bold;
}
.contacts-info {
  display: flex;
  flex-direction: column;
}
.contacts-info__e-mail,
.contacts-info__adress {
    display: flex;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 40px;
}

.contacts-info__e-mail-sign,
.contacts-info__adress-sign {
  display: block;
  width: 45px;
  padding-right: 30px;
  vertical-align: top;
}
.contacts-info__adress-value {
  margin: 0;
}
.contacts-info__e-mail-link {
  display: block;
  border-bottom: 1px #62d1ba solid;
  cursor: pointer;
  &:hover {
    color: #62d1ba;
  }
  &:active {
    opacity: 0.3;
  }
}
.contacts__map {
  width: 320px;
  height: 457px;
  background-color: #00FF00;
  margin-bottom: 40px;
  margin-left: -30px;
}
@media @tablet-width {
  .contacts {
    width: 668px;
    padding-top: 65px;
  }
  .contacts__title {
    text-align: left;
    font-size: 43px;
    line-height: 50px;
  }

  .contacts-info {
    .clearfix();
    flex-direction: row;
    font-size: 17px;
  }
  .contacts-info__e-mail {
    align-self: flex-start;
    width: 334px;

  }
  .contacts-info__adress {
    width: 334px;
    margin-left: 70px;
  }
  .contacts-info__adress-value {
    width: 200px;
  }
  .contacts__map {
    height: 457px;
    width: 768px;
    margin-bottom: 55px;
    margin-left: -50px;
  }
  .contacts .contacts__write {
    width: 228px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media @desktop-width {
  .contacts {
    width: 875px;
    padding-left: 175px;
    padding-top: 80px;
    height: 600px;
  }
  .contacts__title {
  margin-bottom: 65px;
  font-size: 53px;
  line-height: 57px;
  }
  .contacts__wrapper {
    float: left;
  }
  .contacts-info {
    flex-direction: column;
  }
  .contacts-info__e-mail {
    width: 267px;
    margin-bottom: 30px;
  }
  .contacts-info__adress {
    margin-bottom: 80px;
    margin-left: 0;
  }
  .contacts__write {
    float: left;
  }
  .contacts__map {
    float: right;
    width: 525px;
    height: 458px;
  }
}
