.contacts {
	&__title {
		font-size: 18px;
		line-height: 30px;
		font-weight: bold;
	}
	&__table {
		font-size: 15px;
		line-height: 30px;
	}
	&__e-mail-value {
		border-bottom: 1px #62d1ba solid;
	}
}