.features {
  background-image: url("");
  &__title-descr {
    font-size: 27px;
    line-height: 30px;
  }
  &__item {
    font-size: 19px;
    line-height: 24px;
    & a {
      color: #ffffff;
      text-decoration: none;
    }
    &--home-furnishings a {
      background-color: #63d1bb;
      backgrond-image: url("");      
    }
    &--kids-toys a {
      background-color: #56c3b2;
      backgrond-image: url("");
    }
  }
}