.page-footer {
	.container();
	width: 260px;
	height: 160px;
	background-color: #f1f1f1;
}
.social {
	padding: 20px 50px;
	height: 80px;
}
.visually-hidden {
	display: none;
}
.page-footer__copyright {
	font-size: 19px;
	font-weight: 18px;
	font-weight: bold;
	border-top: 1px #e5e5e5 solid;
	padding: 20px 35px;
}	
.page-footer__copyright-link {
	background-image: url("");
}

@media @tablet-width {
	.page-footer {
		.clearfix();
		width: 668px;
		height: 144px;
	}
	.footer-logo {
		float: left;
		background-image: url("");
		width: 110px;
		height: 143px;
	}
	.social {
		float: left;
		margin-left: 120px;
		max-width: 200px;
		padding: 0;
	}
	.page-footer__copyright {
		float: right;
		margin-left: 65px;
		max-width: 220px;
		padding: 0;
	}
}

@media @desktop-width {
	.page-footer {
		width: 1050px;
		height: 144px;
	}	
	.social {
		margin-left: 330px;
	}
} 
