.main-nav {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}
.main-nav__item--only-desktop {
  display: none;
}
.main-nav__items,
.main-nav__user-items {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__item a,
.main-nav__user-item {
  background-color: #ffffff;
  width: 245px;
  margin-left: -30px;
  display: block;
  padding-left: 75px;
  padding-top: 31px;
  padding-bottom: 33px;
  font-size: 18px;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  border-bottom: 1px #ececec solid;
  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }
  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}
.main-nav__user-basket {
  & a {
    text-decoration: none;
    color: #000000;
  }
  &:hover a{
    color: rgba(0, 0, 0, 0.6);
  }
  &:active a{
    color: rgba(0, 0, 0, 0.3);
  }
}
.main-nav__user-item {
  position: relative;

}
.main-nav__user-item-search,
.main-nav__user-basket {

}
.main-nav__user-item-search-icon {
  position: absolute;
  top: 41%;
  left: 32px;
}
.main-nav__user-item-search:hover {
  & .main-nav__user-item-search-icon path {
  fill: #63d1bb;
  }
}
.main-nav__user-item-search:active {
  & .main-nav__user-item-search-icon path {
  fill: rgba(99, 209, 187, 0.3);
  }
}
.main-nav__user-basket-icon {
  position: absolute;
  top: 39%;
  left: 32px;
}
.main-nav__user-basket:hover {
  & .main-nav__user-basket-icon path {
  fill: #63d1bb;
  }
}
.main-nav__user-basket:active {
  & .main-nav__user-basket-icon path {
  fill: rgba(99, 209, 187, 0.3);
  }
}


.main-nav__user-item-search input {
  display: none;
}
.main-nav__user-item-search {

}



.main-nav__toggle {
  position: absolute;
  top: -30px;
  right: 8px;
  z-index: 2;
  display: block;
  width: 22px;
  height: 18px;
  font-size: 0;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: -19px;
  left: -20px;
  width: 20px;
  height: 3px;
  background-color: #000000;
  box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
}

.main-nav--opened .main-nav__toggle {
  top: -40px;
  right: 5px;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 27px;
    height: 2px;
    background-color: #000000;
  }
  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }
  &::after {
    transform: rotate(-45deg);
  }
}

@media @mobile-width-only {
  .main-nav--closed .main-nav__items {
    display: none;
  }
  .main-nav--closed .main-nav__user-items {
    display: none;
  }
  .main-nav--opened .main-nav__items,
  .main-nav--opened .main-nav__user-items {
    position: absolute;
    top: 0;
    right: 0;
    left: 0px;
    z-index: 10;
    height: 80vh;
  }
  .main-nav--opened .main-nav__user-items {
    top: 158px;
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__items,
  .main-nav--nojs .main-nav__user-items {
    display: block;
    position: static;
    height: auto;
  }
  .main-nav--nojs .main-nav__item {
    display: block;
  }
  .main-nav--nojs .main-nav__user-items {
    display: block;
  }
  .main-nav__delivery--mobile-hidden {
    display: none;
  }
}


@media @tablet-width {
  .main-nav {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .main-nav__toggle {
    display: none;
  }

    .main-nav__items {
    order: 2;
    flex-direction: row;
    border-top: 1px #e7e7e7 solid;
    width: 340px;
    min-height: 70px;
  }

  .main-nav__user-items {
    margin-left: auto;
    width: 334x;
    min-height: 70px;
    border-bottom: none;
  }
    .main-nav__items,
    .main-nav__user-items {
    flex-direction: row;
  }

  .main-nav__item a,
  .main-nav__user-item {
    width: 262px;
    font-size: 15px;
    line-height: 24px;
    background-color: #ffffff;
    display: block;
    padding-left: 0;
    margin-left: 0;
  }
  .main-nav__item {
    width: 167px;
    & a {
      border: none;
      background: #f9f9f9;
      padding-top: 18px;
      padding-bottom: 18px;
    }
  }
  .main-nav__user-item {
    border-left: 1px #ececec solid;
  }
  .main-nav__delivery {
    display: block;
    background-color: #f9f9f9;
    font-size: 15px;
    line-height: 24px;
    color: #444444;
    height: 78px;
    width: 328px;
    text-align: right;
    order: 3;


  }
  .main-nav__user-item-search {
    font-size: 0;

    width: 82px;
  }
  .main-nav__delivery--mobile-hidden {
    display: block;
  }
  .main-nav__user-basket {
    text-align: right;
    font-size: 17px;
    line-height: 24px;
  }
  .main-nav__user-item-search-icon {
  position: absolute;
  top: 41%;
  left: 32px;
  }
  .main-nav__user-basket-icon {
    position: absolute;
    top: 39%;
    left: 32px;
  }
}

@media @desktop-width {
  .main-nav {
    width: 1050px;
    border-bottom: 1px #e7e7e7 solid;
  }
  .main-nav__item {
    border-bottom: 1px #e7e7e7 solid;
  }
  .main-nav__item--only-desktop {
    display: block;
    border: none;
  }
  .main-nav__items {
    width: 420px;
    min-height: 89px;
    order: -1;
    flex-wrap: wrap;
  }
  .main-nav__item a {
    width: 175px;
    height: 34px;
  }
  .main-nav__user-items {
    width: 350px;
  }
  .main-nav__user-item {
    height: 25px;
    border-bottom: none;
  }
  .main-nav__delivery  {
    margin-left: auto;
    margin-top: -60px;
  }
}
