.page-header {
  .container();
  display: flex;
  flex-direction: column;
  border-top: 1px #ececec solid;
  border-bottom: 1px #ececec solid;
}
.page-header__logo {

  min-height: 78px;

  margin: auto;
  text-align: center;
  & img {
    width: 86px;
    height: 35px;
    margin-top: 20px;
  }
}
@media @tablet-width {
  .page-header {
    width: 668px;
    margin: 0;

    flex-direction: row;
    justify-content: space-between;

    /*.clearfix();*/
    flex-direction: row;
    .container();
  }
  .page-header__logo {


    /*float: left;*/
    width: auto;
    margin: 0;
  }
}
@media @desktop-width {
  .page-header {
  .container();
  position: relative;
    width: 1050px;
    height: 90px;
  }
  .page-header__logo {
  position: absolute;
  left: 50%;
}
}
.page-header,
.page-header__logo {
  .no-outline();
}
