.page-title {
  .container();
  height: 105px;
  width: 320px;
  font-size: 27px;
  line-heght: 30px;
  font-weight: bold;
  padding-top: 70px;
  text-align: center;
  background-color: #f1f1f1;
  margin-bottom: 30px;
}
@media @tablet-width {
  .page-title {
  height: 155px;
  width: 668px;
  font-size: 43px;
  line-heght: 50px;
  padding-top: 140px;
  margin-bottom: 85px;
}

}
@media @desktop-width {
  .page-title {
    width: 1050px;
    font-size: 53px;
    line-heght: 57px;
    height: 140px;
    padding-top: 100px;
    margin-bottom: 145px;
  }
}
