.reviews {
  .container();
  width: 260px;
  height: 550px;
  padding-top: 30px;
  padding-bottom: 50px;
}
.reviews__item {
  margin: 0;
}
.reviews__title {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 30px;
  text-align: left;
}
.reviews__text {
  font-size: 15px;
  text-align: left;
  line-height: 30px;
  color: #444444;
  margin-bottom: 30px;
}
.reviews__authors-name {
  font-weight: bold;
  font-style: normal;
  text-align: left;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
}
.reviews__authors-contact {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 30px;
  text-align: left;
  color: #444444;
  font-weight: normal;
}
.reviews__write {
  margin-bottom: 40px;
  margin-top: 35px;
}

@media @tablet-width {
  .reviews {
    .container();
    .clearfix();
    position: relative;
    height: 400px;
    padding-top: 80px;
    padding-bottom: 50px;
    background-image: url(../img/review@1x.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 668px;
    padding-left: 50px;
    margin-left: 120px;
  }
  .reviews__title {
    width: 200px;
    margin: 0;
    margin-bottom: 40px;
    font-size: 43px;
    line-height: 50px;
  }
  .reviews__text {
    width: 660px;
    margin-bottom: 65px;
    font-size: 17px;
  }
  .reviews__authors-name {
    font-size: 17px;
  }
  .reviews__authors-contact {
    font-size: 17px;
  }
  .reviews .reviews__write {
    position: absolute;
    float: right;
    width: 170px;
    top: 40px;
    right: 20px;
  }
  .reviews__prev,
  .reviews__next {
    float: right;
  }
}
@media @desktop-width {
  .reviews {
    .container();
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 175px;
    background-image: url("../img/reviev1@x.jpg") no-repeat;
    width: 875px;
  }
  .reviews__title {
   font-size: 53px;
   line-height: 57px;
  }
  .reviews__text {
    width: 760px;
    margin-bottom: 65px;
    font-size: 17px;
  }

}
