.week-item {
  &__name {
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
  }
  &__sign {
    font-size: 17px;
    line-height: 16px;
    font-weight: bold;
    color: #63d1bb;
    text-transform: uppercase;
  }
  &__descr {
    font-size: 15px;
    line-height: 24px;
    color: #444444;
  }
  &__table {
    font-size: 15px;
    line-height: 20px;
    color: #444444;
  }
  &__price {
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
  }
}
